vel_reaccion.json
[{"id":"56ab10b8.58c04","type":"tab","label":"Velocidad de Reaccion","disabled":false,"info":""},{"id":"c7021354.4ba598","type":"serial in","z":"56ab10b8.58c04","name":"","serial":"c781c578.6ce808","x":210,"y":220,"wires":[["6b83436d.96ebac","f38bbe9f.969f7"]]},{"id":"9b2d5db6.b3ef8","type":"serial out","z":"56ab10b8.58c04","name":"","serial":"c781c578.6ce808","x":730,"y":540,"wires":[]},{"id":"f38bbe9f.969f7","type":"debug","z":"56ab10b8.58c04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":340,"wires":[]},{"id":"29ab3288.7bb67e","type":"ui_numeric","z":"56ab10b8.58c04","name":"","label":"Modo : ","tooltip":"","group":"ed4bc572.278568","order":2,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"1","max":"3","step":1,"x":190,"y":400,"wires":[["8cddb4a1.7bde98"]]},{"id":"40f2ac0d.579a04","type":"ui_numeric","z":"56ab10b8.58c04","name":"","label":"Pruebas :","tooltip":"","group":"ed4bc572.278568","order":4,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"global","format":"{{value}}","min":"1","max":10,"step":1,"x":180,"y":440,"wires":[["b3be42e7.07fc08"]]},{"id":"ea8d8230.35ae58","type":"ui_numeric","z":"56ab10b8.58c04","name":"","label":"Tiempo :","tooltip":"","group":"ed4bc572.278568","order":6,"width":4,"height":1,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":0,"max":"20","step":1,"x":180,"y":480,"wires":[["8545eb3b.74be28"]]},{"id":"22b8654c.ab7ffa","type":"debug","z":"56ab10b8.58c04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":600,"wires":[]},{"id":"8cddb4a1.7bde98","type":"change","z":"56ab10b8.58c04","name":"","rules":[{"t":"set","p":"Modo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":400,"wires":[[]]},{"id":"b3be42e7.07fc08","type":"change","z":"56ab10b8.58c04","name":"","rules":[{"t":"set","p":"Prueba","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":440,"wires":[[]]},{"id":"8545eb3b.74be28","type":"change","z":"56ab10b8.58c04","name":"","rules":[{"t":"set","p":"Tiempo","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":480,"wires":[[]]},{"id":"bd6d9a11.bab0b8","type":"function","z":"56ab10b8.58c04","name":"","func":"var valor= \"<\"+global.get('Modo')+\"-\"+global.get('Prueba')+\"-\"+global.get('Tiempo')+\">\";\n\nmsg.payload = valor;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":580,"wires":[["22b8654c.ab7ffa","9b2d5db6.b3ef8"]]},{"id":"a1c41106.9cade8","type":"ui_button","z":"56ab10b8.58c04","name":"","group":"ed4bc572.278568","order":9,"width":4,"height":1,"passthru":false,"label":"Enviar","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":260,"y":540,"wires":[["bd6d9a11.bab0b8"]]},{"id":"6b83436d.96ebac","type":"switch","z":"56ab10b8.58c04","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"LED","vt":"str"},{"t":"else"},{"t":"cont","v":"PRUEBA","vt":"str"},{"t":"cont","v":"Mean","vt":"str"},{"t":"cont","v":"Mode","vt":"str"},{"t":"cont","v":"Max","vt":"str"},{"t":"cont","v":"pos_max","vt":"str"},{"t":"cont","v":"Min","vt":"str"},{"t":"cont","v":"pos_min","vt":"str"},{"t":"cont","v":"StdDev","vt":"str"},{"t":"cont","v":"START","vt":"str"},{"t":"cont","v":"END","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":390,"y":200,"wires":[["c23794f6.abaa5"],["1366ba9d.489e15"],["9ee09776.d0d81"],["934112ef.cdca98"],["61820076.657c18"],["7d23b271.2701ac"],["6e582c13.5813fc"],["c15019ed.7c3cc8"],["c3405eb9.346e88"],["889792f4.600188"],["7adb132d.54aecc"],["d2770b5.46a55f8"]]},{"id":"c23794f6.abaa5","type":"change","z":"56ab10b8.58c04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":60,"wires":[["b8bc121d.86e818"]]},{"id":"1366ba9d.489e15","type":"change","z":"56ab10b8.58c04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":100,"wires":[["b8bc121d.86e818"]]},{"id":"b8bc121d.86e818","type":"ui_led","z":"56ab10b8.58c04","order":13,"group":"ed4bc572.278568","width":3,"height":3,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#8ae234","value":"true","valueType":"bool"},{"color":"#ef2929","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"","x":790,"y":60,"wires":[]},{"id":"18cc8252.a596b6","type":"ui_text","z":"56ab10b8.58c04","group":"ed4bc572.278568","order":20,"width":4,"height":1,"name":"","label":"Tiempo","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":100,"wires":[]},{"id":"d2abb7ea.b30e28","type":"string","z":"56ab10b8.58c04","name":"","methods":[{"name":"getRightMost","params":[{"type":"str","value":"Prueba"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":270,"y":100,"wires":[["b8ae9f44.77a2"]]},{"id":"140a6390.958a3c","type":"inject","z":"56ab10b8.58c04","name":"","topic":"","payload":"PRUEBA1:1234","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["d2abb7ea.b30e28","3e01c37b.a8b6a4"]]},{"id":"b8ae9f44.77a2","type":"debug","z":"56ab10b8.58c04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":40,"wires":[]},{"id":"3e01c37b.a8b6a4","type":"string","z":"56ab10b8.58c04","name":"","methods":[{"name":"getLeftMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":270,"y":140,"wires":[["b8ae9f44.77a2"]]},{"id":"9ee09776.d0d81","type":"string","z":"56ab10b8.58c04","name":"t_pruebas","methods":[{"name":"getRightMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":620,"y":140,"wires":[["18cc8252.a596b6","81fb690d.536a9","4bd5479f.1aa22"]]},{"id":"2ef9a072.670f7","type":"debug","z":"56ab10b8.58c04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":460,"wires":[]},{"id":"81fb690d.536a9","type":"ui_chart","z":"56ab10b8.58c04","name":"","group":"ed4bc572.278568","order":15,"width":8,"height":8,"label":"Tiempos de Pruebas","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"90","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#ef2929","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":900,"y":140,"wires":[[]]},{"id":"61820076.657c18","type":"string","z":"56ab10b8.58c04","name":"mode","methods":[{"name":"getRightMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":220,"wires":[["754958db.3d681"]]},{"id":"349a863d.be1c4a","type":"string","z":"56ab10b8.58c04","name":"mean","methods":[{"name":"getRightMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":180,"wires":[[]]},{"id":"934112ef.cdca98","type":"string","z":"56ab10b8.58c04","name":"mean","methods":[{"name":"getRightMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":590,"y":180,"wires":[["73102d8d.41ad14"]]},{"id":"7d23b271.2701ac","type":"string","z":"56ab10b8.58c04","name":"max","methods":[{"name":"getRightMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":610,"y":260,"wires":[["b8d311dc.34c658"]]},{"id":"6e582c13.5813fc","type":"string","z":"56ab10b8.58c04","name":"pos_max","methods":[{"name":"getRightMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":620,"y":300,"wires":[[]]},{"id":"889792f4.600188","type":"string","z":"56ab10b8.58c04","name":"stdDev","methods":[{"name":"getRightMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":620,"y":420,"wires":[["a0ff98c.03fca68"]]},{"id":"c15019ed.7c3cc8","type":"string","z":"56ab10b8.58c04","name":"min","methods":[{"name":"getRightMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":610,"y":340,"wires":[["d2d486f2.df64a8"]]},{"id":"c3405eb9.346e88","type":"string","z":"56ab10b8.58c04","name":"pos_min","methods":[{"name":"getRightMost","params":[{"type":"str","value":":"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":620,"y":380,"wires":[[]]},{"id":"73102d8d.41ad14","type":"ui_text","z":"56ab10b8.58c04","group":"ed4bc572.278568","order":17,"width":4,"height":1,"name":"","label":"Mean: ","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":180,"wires":[]},{"id":"754958db.3d681","type":"ui_text","z":"56ab10b8.58c04","group":"ed4bc572.278568","order":22,"width":4,"height":1,"name":"","label":"Mode: ","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":220,"wires":[]},{"id":"b8d311dc.34c658","type":"ui_text","z":"56ab10b8.58c04","group":"ed4bc572.278568","order":26,"width":4,"height":1,"name":"","label":"Max:  ","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":260,"wires":[]},{"id":"d2d486f2.df64a8","type":"ui_text","z":"56ab10b8.58c04","group":"ed4bc572.278568","order":29,"width":4,"height":1,"name":"","label":"Min: ","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":340,"wires":[]},{"id":"a0ff98c.03fca68","type":"ui_text","z":"56ab10b8.58c04","group":"ed4bc572.278568","order":32,"width":4,"height":1,"name":"","label":"StdDev: ","format":"{{msg.payload}}","layout":"row-spread","x":800,"y":420,"wires":[]},{"id":"4bd5479f.1aa22","type":"debug","z":"56ab10b8.58c04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":200,"wires":[]},{"id":"7adb132d.54aecc","type":"change","z":"56ab10b8.58c04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":460,"wires":[["81fb690d.536a9"]]},{"id":"d2770b5.46a55f8","type":"change","z":"56ab10b8.58c04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"FIN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":500,"wires":[["18cc8252.a596b6"]]},{"id":"c781c578.6ce808","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"ed4bc572.278568","type":"ui_group","z":"","name":"Visualizacion","tab":"1b77c716.c1cef1","order":1,"disp":true,"width":23,"collapse":false},{"id":"1b77c716.c1cef1","type":"ui_tab","z":"","name":"Velocidad de Reaccion","icon":"dashboard","order":8,"disabled":false,"hidden":false}]